### My version of the exercices on the 1st chapter of the book: "Pandas 1.x Cookbook" (Harrison & Petrou).

In [94]:
import os
os.listdir('../input/pandas-cookbook-data')

['data']

In [95]:
import pandas as pd
import numpy as np

### 1 - Reading the dataset and storing it in a DataFrame:

In [96]:
movies = pd.read_csv("../input/pandas-cookbook-data/data/movie.csv")
movies

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4911,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,...,6.0,English,Canada,NaN,NaN,2013.0,470.0,7.7,NaN,84
4912,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,359.0,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000
4913,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,3.0,English,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16
4914,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,9.0,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660
4915,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

### 2 - Acessing the 3 components of a DataFrame: `index`, `columns` and `data`:

In [97]:
columns = movies.columns # accessing the columns
index = movies.index # accessing the index
data = movies.values # data stores a numpy.ndarray

In [98]:
type(movies)

pandas.core.frame.DataFrame

In [99]:
print(type(columns)) # `columns` is of the `Index` type.
columns

<class 'pandas.core.indexes.base.Index'>

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

In [100]:
print(type(index)) # `index` is of the `RangeIndex` type
index
# the RangeIndex is similar to the python's built-in range()

<class 'pandas.core.indexes.range.RangeIndex'>

RangeIndex(start=0, stop=4916, step=1)

In [101]:
print(type(data)) # `data` is an numpy.ndarray
data

<class 'numpy.ndarray'>

array([['Color', 'James Cameron', 723.0, ..., 7.9, 1.78, 33000],
       ['Color', 'Gore Verbinski', 302.0, ..., 7.1, 2.35, 0],
       ['Color', 'Sam Mendes', 602.0, ..., 6.8, 2.35, 85000],
       ...,
       ['Color', 'Benjamin Roberds', 13.0, ..., 6.3, nan, 16],
       ['Color', 'Daniel Hsia', 14.0, ..., 6.3, 2.35, 660],
       ['Color', 'Jon Gunn', 43.0, ..., 6.6, 1.85, 456]], dtype=object)

"The index and the columns are closely related. Both of them are subclasses of `Index`. This allows me to perform similar operations on both the `index` and the `columns`":

In [102]:
print(issubclass(pd.RangeIndex, pd.Index))
print(issubclass(columns.__class__, pd.Index))

True
True

In [103]:
index.to_numpy()

array([   0,    1,    2, ..., 4913, 4914, 4915])

In [104]:
columns.to_numpy()

array(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes',
       'actor_2_name', 'actor_1_facebook_likes', 'gross', 'genres',
       'actor_1_name', 'movie_title', 'num_voted_users',
       'cast_total_facebook_likes', 'actor_3_name',
       'facenumber_in_poster', 'plot_keywords', 'movie_imdb_link',
       'num_user_for_reviews', 'language', 'country', 'content_rating',
       'budget', 'title_year', 'actor_2_facebook_likes', 'imdb_score',
       'aspect_ratio', 'movie_facebook_likes'], dtype=object)

In [105]:
movies.to_numpy()

array([['Color', 'James Cameron', 723.0, ..., 7.9, 1.78, 33000],
       ['Color', 'Gore Verbinski', 302.0, ..., 7.1, 2.35, 0],
       ['Color', 'Sam Mendes', 602.0, ..., 6.8, 2.35, 85000],
       ...,
       ['Color', 'Benjamin Roberds', 13.0, ..., 6.3, nan, 16],
       ['Color', 'Daniel Hsia', 14.0, ..., 6.3, 2.35, 660],
       ['Color', 'Jon Gunn', 43.0, ..., 6.6, 1.85, 456]], dtype=object)

### 3 - Understanding data types:

In [106]:
# The `.dtypes` attribute returns a pandas Series if I need to use the data
print(type(movies.dtypes))
movies.dtypes # shows the column names along with its data type

<class 'pandas.core.series.Series'>

color                         object
director_name                 object
num_critic_for_reviews       float64
duration                     float64
director_facebook_likes      float64
actor_3_facebook_likes       float64
actor_2_name                  object
actor_1_facebook_likes       float64
gross                        float64
genres                        object
actor_1_name                  object
movie_title                   object
num_voted_users                int64
cast_total_facebook_likes      int64
actor_3_name                  object
facenumber_in_poster         float64
plot_keywords                 object
movie_imdb_link               object
num_user_for_reviews         float64
language                      object
country                       object
content_rating                object
budget                       float64
title_year                   float64
actor_2_facebook_likes       float64
imdb_score                   float64
aspect_ratio                 float64
movie_facebook_likes           int64
dtype: object

In [107]:
movies.dtypes.value_counts()

float64    13
object     12
int64       3
dtype: int64

In [108]:
movies.info() # provides more information than the previous ones

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4916 entries, 0 to 4915
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   color                      4897 non-null   object
 1   director_name              4814 non-null   object
 2   num_critic_for_reviews     4867 non-null   float64
 3   duration                   4901 non-null   float64
 4   director_facebook_likes    4814 non-null   float64
 5   actor_3_facebook_likes     4893 non-null   float64
 6   actor_2_name               4903 non-null   object
 7   actor_1_facebook_likes     4909 non-null   float64
 8   gross                      4054 non-null   float64
 9   genres                     4916 non-null   object
 10  actor_1_name               4909 non-null   object
 11  movie_title                4916 non-null   object
 12  num_voted_users            4916 non-null   int64
 13  cast_total_facebook_likes  4916 non-null   int64
 14  actor_3_name               4893 non-null   object
 15  facenumber_in_poster       4903 non-null   float64
 16  plot_keywords              4764 non-null   object
 17  movie_imdb_link            4916 non-null   object
 18  num_user_for_reviews       4895 non-null   float64
 19  language                   4904 non-null   object
 20  country                    4911 non-null   object
 21  content_rating             4616 non-null   object
 22  budget                     4432 non-null   float64
 23  title_year                 4810 non-null   float64
 24  actor_2_facebook_likes     4903 non-null   float64
 25  imdb_score                 4916 non-null   float64
 26  aspect_ratio               4590 non-null   float64
 27  movie_facebook_likes       4916 non-null   int64
dtypes: float64(13), int64(3), object(12)
memory usage: 1.1+ MB

In [109]:
type(np.nan) # NaN is float for pandas and NumPy, pandas rely heavily on NumPy...

float

In [110]:
pd.Series(["1",np.nan,"3"]).dtype # 'O' is relative to `object`, if the comlumns has mixed values, its type is `object`

dtype('O')

#### Almost all pandas data types are built from NumPy

### 4 - Selecting a Column:
Selecting a column returns a `Series`:

In [111]:
print(type(movies['director_name']))
movies['director_name']

<class 'pandas.core.series.Series'>

0           James Cameron
1          Gore Verbinski
2              Sam Mendes
3       Christopher Nolan
4             Doug Walker
              ...
4911          Scott Smith
4912                  NaN
4913     Benjamin Roberds
4914          Daniel Hsia
4915             Jon Gunn
Name: director_name, Length: 4916, dtype: object

... alternative way ...

In [112]:
print(type(movies.director_name))
movies.director_name

<class 'pandas.core.series.Series'>

0           James Cameron
1          Gore Verbinski
2              Sam Mendes
3       Christopher Nolan
4             Doug Walker
              ...
4911          Scott Smith
4912                  NaN
4913     Benjamin Roberds
4914          Daniel Hsia
4915             Jon Gunn
Name: director_name, Length: 4916, dtype: object

We can also index off the `.loc`(by column name) and `.iloc`(by position) attributes to pull out a `Series`:

In [113]:
movies.loc[0:3, "director_name"] # if I want to get all the rows I should put just `:` (a Colon)

0        James Cameron
1       Gore Verbinski
2           Sam Mendes
3    Christopher Nolan
Name: director_name, dtype: object

In [114]:
movies.iloc[0:3, 1]

0     James Cameron
1    Gore Verbinski
2        Sam Mendes
Name: director_name, dtype: object

In [115]:
# the RangeIndex is similar to the python's built-in range()
movies["director_name"].index # returns a 'pandas.core.indexes.range.RangeIndex'

RangeIndex(start=0, stop=4916, step=1)

In [116]:
movies["director_name"].dtype # returns a 'numpy.dtype'

dtype('O')

In [117]:
movies["director_name"].size # returns a python `int`

4916

In [118]:
movies["director_name"].name #returns a python `str`

'director_name'

In [119]:
print(type(movies["director_name"].index))
print(type(movies["director_name"].dtype))
print(type(movies["director_name"].size))
print(type(movies["director_name"].name))

<class 'pandas.core.indexes.range.RangeIndex'>
<class 'numpy.dtype'>
<class 'int'>
<class 'str'>

We can use the `.apply` method with the type function to get back a `Series` that has the type of every member. Rather than looking at the whole `Series` result, we will chain the `.unique` method onto the result, to look at just the unique types that are found in the `director_name` column:

In [120]:
#apply() is used for applying a function on the values of a Series, or applying a function along the axis of a DataFrame.
print(type(movies["director_name"].apply(type)))
movies["director_name"].apply(type) # this way we are applying the type function along the values of the series...

<class 'pandas.core.series.Series'>

0         <class 'str'>
1         <class 'str'>
2         <class 'str'>
3         <class 'str'>
4         <class 'str'>
             ...
4911      <class 'str'>
4912    <class 'float'>
4913      <class 'str'>
4914      <class 'str'>
4915      <class 'str'>
Name: director_name, Length: 4916, dtype: object

In [121]:
# .unique() Return unique values of Series object.
movies["director_name"].apply(type).unique()

array([<class 'str'>, <class 'float'>], dtype=object)

### 5 - Calling Series Methods:
We can use the built-in `dir()` function to uncover all the attributes and methods of a `Series`:

In [122]:
dir(pd.Series) ## returns a `list` with all the Series attributes and methods
series_attributes_and_methods = set(dir(pd.Series)) ## returns a `set` with all the Series attributes and methods
print("Quantity of Series Attributes and Methods:", len(series_attributes_and_methods))

Quantity of Series Attributes and Methods: 433

In [123]:
dir(pd.DataFrame)
dataframe_attributes_and_methods = set(dir(pd.DataFrame))
print("Quantity of DataFrame Attributes and Methods:", len(dataframe_attributes_and_methods))

Quantity of DataFrame Attributes and Methods: 430

In [124]:
s = series_attributes_and_methods
d = dataframe_attributes_and_methods
print("How many Attributes and Methods they both have in common:", len(s & d))

How many Attributes and Methods they both have in common: 377

`.dtype`:

In [125]:
director = movies["director_name"]
fb_likes = movies["actor_1_facebook_likes"]

In [126]:
director.dtype

dtype('O')

In [127]:
fb_likes.dtype

dtype('float64')

`.head()` and `sample()`:

In [128]:
director.head()

0        James Cameron
1       Gore Verbinski
2           Sam Mendes
3    Christopher Nolan
4          Doug Walker
Name: director_name, dtype: object

In [129]:
director.sample(n=5, random_state=42)

2347      Brian Percival
4687         Lucio Fulci
691        Phillip Noyce
3911       Sam Peckinpah
2488    Rowdy Herrington
Name: director_name, dtype: object

`.value_counts()`:

In [130]:
director.value_counts()

Steven Spielberg    26
Woody Allen         22
Martin Scorsese     20
Clint Eastwood      20
Ridley Scott        16
                    ..
Keith Parmer         1
Marc Bennett         1
Joe Marino           1
Adam Carolla         1
Harold Cronk         1
Name: director_name, Length: 2397, dtype: int64

In [131]:
director.value_counts(normalize=True)

Steven Spielberg    0.005401
Woody Allen         0.004570
Martin Scorsese     0.004155
Clint Eastwood      0.004155
Ridley Scott        0.003324
                      ...
Keith Parmer        0.000208
Marc Bennett        0.000208
Joe Marino          0.000208
Adam Carolla        0.000208
Harold Cronk        0.000208
Name: director_name, Length: 2397, dtype: float64

In [132]:
fb_likes.value_counts()

1000.0     436
11000.0    206
2000.0     189
3000.0     150
12000.0    131
          ...
362.0        1
216.0        1
859.0        1
225.0        1
334.0        1
Name: actor_1_facebook_likes, Length: 877, dtype: int64

`.size`, `.shape` and `.unique()`:

In [133]:
director.size

4916

In [134]:
director.shape

(4916,)

In [135]:
director.unique()

array(['James Cameron', 'Gore Verbinski', 'Sam Mendes', ...,
       'Scott Smith', 'Benjamin Roberds', 'Daniel Hsia'], dtype=object)

In [136]:
director.unique().size

2398

In [137]:
type(director.unique())

numpy.ndarray

`.count()`

In [138]:
director.count()

4814

In [139]:
fb_likes.count()

4909

`.min()`, `max()`, `mean()`, `.median()` and `std()`:

In [140]:
print("Min:", fb_likes.min())
print("Max:", fb_likes.max())
print("Mean:", fb_likes.mean())
print("Median:", fb_likes.median())
print("Std:", fb_likes.std())

Min: 0.0
Max: 640000.0
Mean: 6494.488490527602
Median: 982.0
Std: 15106.986883848309

.... or just use `.describe()`:

In [141]:
fb_likes.describe()

count      4909.000000
mean       6494.488491
std       15106.986884
min           0.000000
25%         607.000000
50%         982.000000
75%       11000.000000
max      640000.000000
Name: actor_1_facebook_likes, dtype: float64

In [142]:
director.describe()

count                 4814
unique                2397
top       Steven Spielberg
freq                    26
Name: director_name, dtype: object

`.quantile()`:

In [143]:
fb_likes.quantile(0.5)

982.0

In [144]:
fb_likes.quantile([0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 0.95, 0.99])

0.10      240.0
0.20      510.0
0.30      694.0
0.40      854.0
0.50      982.0
0.60     1000.0
0.70     8000.0
0.80    13000.0
0.90    18000.0
0.95    23000.0
0.99    44920.0
Name: actor_1_facebook_likes, dtype: float64

`.isna()`:

In [145]:
director.isna()

0       False
1       False
2       False
3       False
4       False
        ...
4911    False
4912     True
4913    False
4914    False
4915    False
Name: director_name, Length: 4916, dtype: bool

`fillna()`:

In [146]:
fb_likes_filled = director.fillna(0)
fb_likes_filled

0           James Cameron
1          Gore Verbinski
2              Sam Mendes
3       Christopher Nolan
4             Doug Walker
              ...
4911          Scott Smith
4912                    0
4913     Benjamin Roberds
4914          Daniel Hsia
4915             Jon Gunn
Name: director_name, Length: 4916, dtype: object

In [147]:
print(fb_likes.count())
print(fb_likes_filled.count())

4909
4916

`.dropna()`:

In [148]:
fb_likes_dropped = fb_likes.dropna()
print(fb_likes.size)
print(fb_likes_dropped.size)

4916
4909

`.hasnans`

In [152]:
print(director.hasnans)
print(fb_likes.hasnans)
print(fb_likes_filled.hasnans)
print(fb_likes_dropped.hasnans)

True
True
False
False

`.notna()`, which is the compliment of `.isna()`:

In [ ]:
director.notna()